<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flask Variable Example</title>
</head>
<body>
    <textarea id="input" rows="50" cols="50"></textarea>
    <textarea id="variable" rows="50" cols="50">gaming</textarea>

    <script>
        // update the variable in real time
        function updateVar() {
            fetch('/get_variable')
                .then(response => response.json())
                .then(data => {
                    //update variable on the webpage
                    // document.getElementById('variable').innerText = data.variable;
                    // console.log(typeof data);
                    // console.log(typeof data.variable);
                    // console.log(JSON.parse(data.variable)[0]['joke']);
                    // console.log(data.variable);
                    let parsedData = JSON.parse(data.variable)[0]['joke']
                    document.getElementById('variable').innerText = parsedData;
                })
                .catch(error => console.error("Error:", error));
        }

        setInterval(updateVar, 2000);
    </script>
    
</body>
</html>
